
@font-face {
  font-family: 'telegrafico';
  src: URL('fonts/telegrafico.ttf') format('truetype');
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header-font {
  color: white;
  display: block;
  text-align: center;
  font-weight: bold;
  
  
}


.header {
  background-color: #070123;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  right: 0px;
  max-width:100%;
  transition: 0.2s;
  top: 0;
  padding-bottom: 10px;


  

}




.logo {
  width: 75%;
  height: 100%;
}

.header-font {
  color: white;
  display: block;
  text-align: center;
  font-family: 'Oswald:700', sans-serif;

  
  
}

a:hover {
  color: white;
}

main{ 
margin-right: auto;
margin-left: auto;
margin-bottom: 3em;
padding: 3em 1em;
line-height: 1.5em;
font-family: 'PT Sarif', sans-serif;
position: relative;

}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: auto;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #070123;
}

.container:hover .overlay {
  opacity: 0.75;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.toplink {
  padding-left: 10px;
  padding-right: 10px;
}


@media screen and (min-width: 640px) {

  .toplink {
    padding-left: 50px;
    padding-right: 50px;
  }
  

}

.box {
  display: flex;
  align-items: flex-start;
}

.col {
  flex: 1;
  margin: 5px;
  /*.media {
      display: flex;
      align-items: center;
  }
  */
  /*.media .content {
      flex: 1;
      padding: 10px;
      width: 500px;
  }
  */
}

.col2 {
  flex: 2;
  margin: 10px;
  background-color: #ffffff;
  padding: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  /*.media {
      display: flex;
      align-items: center;
  }
  */
  /*.media .content {
      flex: 1;
      padding: 10px;
      width: 500px;
  }
  */
}


main {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
}

@media screen and (min-width: 640px) {
  .page-content {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
  }

  .flex-grid {
    display: flex;
    padding: 5px;
    flex-flow: row wrap;
  }

  

}

@supports ((max-width: -webkit-max-content) or (max-width: -moz-max-content) or (max-width: max-content)) {
  .layout__item--figure {
    min-width: 15rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    flex-basis: 15rem;
    flex-grow: 99999;
  }
}

img {
  max-width:100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  min-width: 300px;
}

.projects {
  max-width: 100%;
  max-width: 100%;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }
  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}
/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }
  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }

}

.tagline{
  display: block;
  width: 50%;
  transform: translateX(90%) translateY(100%);
  

}

.intro-gradient{
  background-color: rgba(128, 128, 128, 0.548);
  height: 100%;
  clip-path: polygon(34% 0, 100% 0, 100% 100%, 60% 100%);
    }



@media screen and (max-width: 640px) {

  .tagline{
    text-align: left;
    display: block;
    align-self: start;
    transform: translateX(20%) translateY(100%);

    
  
  }

  img{
    padding: 0 !important;
    position:relative; /* relative to the normal flow */
    top:0; /* to reset the .image2 top value */
    margin:auto; /* to center the images */



  }


  .intro{
    height: 400px;
    background-position: center;
  }
  .header-font {
    font-weight: 200;
  }

  .intro-gradient{
    background-color: rgba(128, 128, 128, 0.548);
    height: 100%;
    clip-path: polygon(0 0, 50% 0, 86% 100%, 0 100%);
      }

  .col2 {
    padding: 0 !important;
    position:relative; /* relative to the normal flow */
    margin:auto; /* to center the images */
  }


}


.intro { 
  height: 600px;
  width: 100%;
  background-image: url(churchcropped.jpg);
  background-size: cover;
  max-width: 100%;
  color: white;
  display: block;


}



.brick {
  max-width: 50px;
  max-height: 50px;
  object-fit: none;
  height: auto;
  width: auto;
}




